.layer {
    position: fixed;
    inset: 0;
    background-color: #8674FE;
    z-index: 9999;
    max-width: 1250px;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  .layer.shrink {
    animation: shrinkCircle 5s ease forwards;
  }
  
  @keyframes shrinkCircle {
    0% {
      height: 100vh;
      opacity: 1;
    }
    100% {
      height: 0;
      opacity: 0;
    }
  }
  
  .layer-container {
    width: 50%;
    height: 50%;
    transform: scale(0.6);
    font-size: 1rem;
    color: #fff;
    font-family: "Roboto", sans-serif;
    text-align: center;
    position: relative;
    background-image: url("/public/assets/layer.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .number {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -80%);
    z-index: 10000;
    font-size: 1.8rem;
  }
  
  .no-scroll {
    overflow: hidden;
    height: 100vh;
  }
  