.layer {
    position: fixed;
    inset: 0;
    background-color: #8674FE;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .number {
    font-size: 1rem;
    color: #fff;
    font-family: "Roboto", sans-serif;
    text-align: center;
  }
  
  .no-scroll {
    overflow: hidden;
    height: 100vh;
  }
  