#why {
    padding: 0rem 20px;
    width: 100%;
    min-height: 90vh;
    max-width: 1250px;
    scroll-margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 4rem;
}

.why__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: calc(90vh - 5rem);
}


.why__left {
    flex: 1;
    height: 100%;
}

.why__left img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
}

.why__right {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;;
    align-items: center;
    justify-content: center;
}

.why__right h2 {
    color: #fff;
    font-size: 35px;
    letter-spacing: 0.12rem;
    font-family: "Roboto", sans-serif;
    text-align: center;
    font-weight: 500;
    margin-top: 2rem;
}

.why__right p {
    color: #fff;
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
    text-align: center;
    opacity: 0.5;
    width: 50%;
    margin: 0 auto;
    margin-top: 1.5rem;
}

.select__btn {
    color: #fff;
    background-color: transparent;
    opacity: 0.5;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 25px;
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.075rem;
    cursor: pointer;
    display: block;
    text-align: center;
    MARGIN: 0 auto;
    margin-top: 4rem;
    background-color: #fff;
    color: #181721;
    opacity: 1;
    transition: all 0.3s ease;
}

.select__btn:hover {
    background-color: #8674FE;
    color: #fff;
    border: none;
    opacity: 1;
}

footer {
    width: 100%;
    max-width: 1250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2rem;
    padding-left: 2rem;
}

.icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    width: 150px;
}

.icon {
    color: #fff;
    width: 1.5rem;
    height: 1.5rem;
    opacity: 0.7;
    cursor: pointer;
}

.footer__image {
    height: 5rem;
}

@media (max-width: 768px) {
    .why__container {
        height: 100%;
        flex-direction: column;
    }

    .why__left {
        width: 100%;
        height: auto;
    }

    .why__right {
        width: 100%;
        height: auto;
        padding: 2rem 0;
    }

    .why__right h2 {
        font-size: 28px;
    }

    .why__right p {
        width: 80%;
        font-size: 1rem;
    }
    footer {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 567px) {
    .why__right h2 {
        font-size: 24px;
    }

    .why__right p {
        width: 90%;
        font-size: 0.9rem;
    }
}

