* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

tml, body {
  width: 100%;
  background-color: #181721;
  overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
}


::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #181721;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}


